{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<header class="site-banner d-flex align-items-center text-white text-center">
    <div class="container">
        <h1 class="display-4">La Fine Équipe</h1>
        <p class="lead">Solidarité, entraide et partage au cœur de notre association</p>
    </div>
</header>

<main class="container my-5">
    <section id="mission" class="mb-5">
        <h2 class="mb-3">Notre Mission</h2>
        <p>
            La Fine Équipe est une association créée en 2024 au Mans (72). Notre objectif ? Redonner de la joie de vivre à des jeunes en souffrance psychique et à leurs proches.
            Plusieurs fois dans le mois, nous organisons des activités pour favoriser la convivialité, le partage et la réhabilitation sociale.
        </p>
    </section>

     <div class="section-divider">
        <img src="{{ asset('assets/images/banner2.jpg') }}" alt="Illustration mission" class="img-fluid w-100 my-4">
    </div>

    <section id="evenements">
        <h2 class="mb-3">Événements à Venir</h2>
        <ul class="list-group">
            <li class="list-group-item">
                <strong>Collecte de vêtements</strong> - 15 avril 2025, de 10h à 16h
            </li>
            <li class="list-group-item">
                <strong>Marche solidaire</strong> - 30 avril 2025, à partir de 9h
            </li>
            <li class="list-group-item">
                <strong>Conférence sur l'environnement</strong> - 10 mai 2025, à 14h
            </li>
        </ul>
    </section>
</main>


{% include "footer.html.twig" %}
{% endblock %}
